
@import 'abstracts/mixins';

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem 1rem;
    padding-bottom: 0;


    &__btns {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        max-width: 660px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    .btn-temp {
        @include base-button(var(--pf-tertiary-color), var(--pf-primary-color), var(--pf-font-weight-lg), 40px, 40px, 50%, 2rem);
        margin-left: 1rem;

        &--active {
            background-color:var(--pf-primary-color);
            color:#110E3C;
        }
    }
}