// Abstracts files

@import 'abstracts/palette';
@import 'abstracts/mixins';


// Core files
@import 'core/typography';

//layout
@import 'layout/grid';


@import 'responsive/responsive';

.wrapper-home {
    @include split-screen();
    background-color:#100E1D;
    

  

    @include respond-above(sm) {

        grid-template-columns: repeat(12, 1fr);

        .weather-location {
            grid-column: 1 / 5;

            
        }

        .weather-week {
            grid-column: 5 / span 12;
        }
    }

    @include respond-above(lg) {

        .weather-location {
            grid-column: 1 / 4;

            
        }

        .weather-week {
            grid-column: 4 / span 12;
        }

      
    }

    .weather-location {
        background-color: #1E213A; 
        
        .location-header {
            display: flex;
            justify-content: space-between;
            padding: 2rem 1rem; 

            width: 100%;

            .btn-header {
                @include base-button(#6E707A, $c-primary, $w-md, auto, auto, 5px, 1.5rem);
                padding: 5px 10px;
                
                &--radius {
                    width: 40px;
                    height: 40px;
                    padding: 6px 0;
                    border-radius: 50%;
                }
            }
        }

        .location-body {

            .img-container {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 300px;
                position: relative;
                background-color:#1E213A;
              

                &::before {
                    content: "";
                    position: absolute;
                    top: 0; 
                    left: 0;
                    width: 100%; 
                    height: 100%;
                    background-image: url('/assets/images/Cloud-background.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    filter: invert(0.6);
                }

            

                .img {
                    position: relative;
                    width: 100%;
                    max-width: 210px;
                    height: auto;
                    object-fit: contain;
                    object-position: center;
                }
            }

            &__text {
                @include base-text(4rem, $w-md, $c-tertiary, center);
                margin: 0;
                span {
                    color: $c-primary;
                    font-size: 7.5rem;
                }

                &--color {
                    margin-top: 2.5rem;
                }
            }
        }

        .location-footer{

            .date {
                display: flex;
                justify-content: center;
                align-items: center;

                &__text {
                    @include base-text(1.5rem, $w-md, $c-tertiary);
                    margin-right: 1rem;
                }
            }

            .location__text {
                display: flex;
                align-items: center;
                justify-content: center;
                @include base-text(1.5rem, $w-md, $c-tertiary);
            }

            .location__icon {
                margin-right: 1rem;
                filter: invert(0.6);
            }
        }
    }

    .weather-week {
       
        .header {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 2rem 1rem;


            &__btns {
                display: flex;
                justify-content: flex-end;
                width: 100%;
                max-width: 660px;
                margin: 0 auto;
                margin-bottom: 2rem;
            }

            .btn-temp {
                @include base-button($c-tertiary, $c-primary, $w-bg, 40px, 40px, 50%, 2rem);
                margin-left: 1rem;

                &--active {
                    background-color:$c-primary;
                    color:#110E3C;
                }
            }
        }

        .card-container{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            gap: 1rem;
            margin: 0 auto;
            height: auto;
            padding: 1rem;
        }

        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 130px;
            height: 140px;
            padding: 1rem;
            background-color: $c-secondary;

            &__text {

                @include base-text(1.5rem, $w-md, $c-tertiary);
                margin-bottom: 0;

                &--title {
                    margin: 0;
                }
            }

            &__img {
                width: 100%;
                max-width: 60px;
                height: 70px;
                object-fit: contain;
                object-position: top;
            }

            &__temps {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
        }


        .main {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            width: 100%;
            max-width: 660px;
            margin: 0 auto;
            height: auto;


            &__title {
                @include base-text(2rem, $w-bg, $c-primary);
                margin: 0;
                margin-left: 1rem;
            }


            .card {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 300px;
                height: auto;
                padding: 2rem;
                background-color: $c-secondary;

                &__body {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                }

                .percent {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    width: 200px;


                    &__text{
                        @include base-text(1rem, $w-bg, #A09FB1);
                        margin-bottom: 0;

                        &--end{
                            margin-left: auto;
                        }
                    }
                }

                .progress-container {
                    width: 200px;
                    height: 8px;
                    border-radius: 10px;
                    background-color: #A09FB1;

                    .progress {
                        width: 50%;
                        height: 8px;
                        border-radius: 8px;
                        background-color:#FFEC65;

                    }
                }

                &__text {

                    @include base-text(1.5rem, $w-md, $c-primary);

                    span {
                        font-size: 4rem;
                        font-weight: bold;
                    }

                
                    &--btm {
                        margin-bottom: 0;
                    }
                }

                
            }
        }
    }
}