

// Abstracts files

@import 'abstracts/palette';
@import 'abstracts/mixins';
@import 'abstracts/varibales';


// Core files
@import 'core/typography';
@import 'core/normalize';

//layout

@import 'layout/grid';


// responsive 

@import 'responsive/responsive';



html {
    
    font-family: $font-primary;
    font-size: 62.5%;
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
    
    
}


