
<app-loading *ngIf="loading"></app-loading>

<main *ngIf="!loading">

    <app-current-weather
      [coordinate]="coordinate"
      [convertD] = "convert"
      (coordinates)="coordinate = $event">
    </app-current-weather>
    
    <div class="wrapper-home">
        <app-header
          (convert)="convert = $event">
        </app-header>

        <app-card-day 
            [coordinate]="coordinate"
            [convertD] = "convert">
        </app-card-day>

        <section class="main">
            <h2 class="main__title">Today’s Hightlights</h2>
            <div class="main__container"
                *ngIf="cityW">
                <article class="card"> 
                    <p class="card__text card__text--title"> Wind status </p>
                    <div class="card__body">
                        <p class="card__text"> <span>{{ cityW.wind.speed }}</span>mph</p>
                        <p class="card__text card__text--btm">WSW</p>
                    </div>
                </article>
                <article class="card"> 
                    <p class="card__text card__text--title"> Humidity </p>
                    <div class="card__body">
                        <p class="card__text"> <span>{{ cityW.main.humidity }}</span>%</p>
                        <div class="percent">
                            <p class="percent__text">0</p>
                            <p class="percent__text">50</p>
                            <p class="percent__text">100</p>
                        </div>

                        <div class="progress-container">
                            <div
                            [ngStyle]="{'width.%': cityW.main.humidity }"
                            class="progress">
                            </div>
                        </div>
                        <p class="percent__text percent__text--end">%</p>
                    </div>
                </article>
                <article class="card"> 
                    <p class="card__text card__text--title">Visibility</p>
                    <div class="card__body">
                        <p class="card__text"> <span>{{ cityW.visibility}}</span>miles</p>
                    </div>
                </article>
                <article class="card"> 
                    <p class="card__text card__text--title">Air Pressure</p>
                    <div class="card__body">
                        <p class="card__text"> <span>{{ cityW.main.pressure }}</span>mb</p>
                    </div>
                </article>
            </div>
        </section>
    </div>
    
</main>